body {
  margin: 10px;
  color: #272e35;
  background-color: #eeeff2;
  background-repeat: no-repeat;
  font-family: "Roboto";
}

a:hover {
  text-decoration: none;
}

.content {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: #e07223;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

.table-team {
  max-width: 500px;
  background-color: #e5e5e5;
  margin-bottom: 64px;
}

.table-team-head {
  background-color: #e07223;
  color: white;
}

.user-title {
  color: #337ab7;
}

.table-user {
  background-color: #e5e5e5;
}

.table-user-head {
  background-color: #337ab7;
  color: white;
}

.input-sm {
  background-color: #ececec;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ececec;
}

.cursor-pointer {
  cursor: pointer;
}

.voting-container {
  margin: 24px 0;
  display: flex;
  align-items: center;
  font-size: 26px;
}

label {
  margin-bottom: 0;
}

.switch {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
