body {
  padding: 0;
  margin: 0;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
.youtube-player {
  position: absolute;
  top: calc(50% - 251px);
  left: calc(50% - 446px);
  text-align: center;
  color: white;
}
