body {
  color: #272e35;
  overflow-x: hidden;
  background-color: #eeeff2;
  background-repeat: no-repeat;
}

.content {
  height: 100%;
  background-color: #eeeff2;
}

.btn {
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)) top/100% 800%;
}

.btn:hover {
  transition: 0.5s;
  background-position: bottom;
  color: white;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;
}

.card2 {
  background-color: #eeeff2;
  margin: auto 40px;
}

.logo {
  width: 150px;
  margin: 30px 0;
  margin-left: 10%;
}

.image-login {
  height: 100%;
  max-height: 400px;
}

.image-container-register {
  margin-top: 80px;
}

.image-register {
  height: 100%;
  max-height: 700px;
}

.border-line {
  border-right: 1px solid #272e35;
}

.google {
  background-color: #d21919;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  align-items: center;
}
.google:hover {
  background-color: #d21919;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #272e35;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #272e35;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #272e35;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #272e35;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  background-color: #e8e8e8;
  border: 1px solid #272e35;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304ffe;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-orange {
  background-color: #e07223;
  width: 100%;
  color: #fff;
}

.bg-orange-login {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #fff;
  background-color: #e07223;
  display: flex;
  justify-content: center;
}

.bg-orange-register {
  color: #fff;
  background-color: #e07223;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  body {
    height: 100%;
  }

  .logo {
    margin-left: 50px;
  }

  .image {
    width: 300px;
    height: 220px;
  }

  .border-line {
    border-right: none;
  }

  .card2 {
    border-top: 1px solid #eeeeee !important;
    margin: 0px 15px;
  }

  .bg-orange {
    position: relative;
  }
}
